:root {
    --background-color: #ffffff;
    --primary-color: #353535;
    --highlight-color: #3c6e71;
    --warning-color: #9a031e;
    --primary-font: 'Dongle', sans-serif;
    --font-weight-light: 300;
    --font-weight-bold: 700;
    --font-size-body: 32px;
    --font-size-h1: 40px;
}
  
body {
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-body);
  
    /* Sets the line-height to 1.6 */
    line-height: 1.6;
}
  
main {
    margin-top: 90px;
}
  
  
h1 {
    font-size: var(--font-size-h1);
}
  
